*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#4c2959, #03033a);
}
.container{
    display: flex;
    gap: .625rem;

    .card{

        width: 12.5rem;
        height: 31.25rem;
        border-radius: .6rem;
        overflow: hidden;
        transition: 1.5s;
        position: relative;

        &:hover{
            width: 46.875rem;

            p{
                display: block;
            }
        }

        img{
            width: 100%;
            height: 100%;
            
            object-fit: cover;
            object-position: center;
        }

        p{
            background-color: #03033ad6;
            color: #f5f5f5;
            position: absolute;
            bottom: 10%;
            left: 10%;
            display: none;
        }
 
    }
}